<h3>Chào {{ name }},Tôi là admin Project-Demo VMO</h3>
<p>Để xác thực tài khoản để có thể sử dụng được hệ thống của tôi</p>
<p> Vui lòng click vào link dưới đây:</p><a href="{{ url }}" target="_blank">Confirm</a>
<p>Thời gian tồn tại của link sẽ là {{time}} phút,Tính từ khi mail này được gửi.Ngoài khoảng thời gian này link sẽ hết hiệu lực</p>
<p>Nếu bạn đăng kí hệ thống của Project-Demo vui lòng bỏ qua nó. Xin cảm ơn !!!</p>
