<h3>Chào {{ name }},Tôi là admin Project-Demo VMO</h3>
<p>Mật khẩu của bạn là : <strong>{{passwordReset}} </strong></p>
<p> Vui lòng click vào link dưới đây:</p><a href="{{ url }}" target="_blank">Confirm</a> 
<p>Thời gian tồn tại của link sẽ là {{time}} phút,Tính từ khi mail này được gửi.Ngoài khoảng thời gian này link sẽ hết hiệu lực</p>
<p>Vui lòng click vào link để xác nhận . Xin cảm ơn</p>
